$green: #3eaf7c;
$dark: #35495e;

* {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: $dark;
}

#app {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 250px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 15px 5px 60px;
  line-height: 40px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(black, 0.1);

  h1 {
    font-size: 14px;
    margin: 0;
    line-height: inherit;
  }

  .icon {
    width: 50px;
    padding: 13px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }

  z-index: 500;
}

#sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 250px;
  bottom: 0;
  background-color: #f3f5f7;
  border-right: solid 1px #ddd;
  z-index: 499;
  padding: 30px 0;
  transition: transform .3s ease-in-out;
  overflow: auto;

  .main-nav {
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        padding: 8px 15px 8px 30px;
        border-left: solid 6px transparent;

        a {
          color: inherit;
          display: block;
        }

        &:hover {
          a {
            color: darken($green, 5%);
          }
        }

        &.active {
          border-left-color: $green;
          color: $green;
          font-weight: bold;
          font-size: 15px;
        }
      }
    }
  }
}

.main-content {
  padding-top: 65px;
}

@media screen and (max-width: 768px) {
  #app {
    padding-left: 0;
  }
  #sidebar {
    transform: translateX(-100%);
  }
  .sidebar-open #sidebar {
    transform: translateX(0);
  }
}

.tip {
  background-color: #f3f5f7;
  padding: .1rem 1.5rem;
  border-left: solid .5rem $green;
  margin: 1rem 0;
}

code {
  direction: ltr;
  text-align: left;
  padding: 0;

  &:not(.inline) {
    display: block;

    &:not(:empty) {
      padding: 10px 15px;

      &.code {
        margin-bottom: 15px;
        display: inline-block;
      }
    }
  }
}

.vpd-wrapper, input {
  font-family: IRANSans, Tahoma, sans-serif;
  font-size: 12px;
}

.vpd-input-group {
  max-width: 250px;

  input {
    border-left: none;
    border-right: solid 1px #dadada;
    border-radius: 0;
  }

  label svg + span {
    margin-right: 0 !important;
    margin-left: 4px;
  }

  > i {
    left: auto !important;
    right: 0;
  }
}

.form-control {
  border-radius: 0;
}

.card {
  margin-bottom: 30px;
  border: none;

  + .card {
    margin-top: 100px;
  }

  .card-title {
    background-color: #f3f5f7;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    //border: solid 1px #dee0e2;
  }

  .card-body {
    padding: 0;
  }

  .card-version {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: $dark;
    color: $green;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: right;
    z-index: 10;
    font-weight: bold;
  }
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.hr {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

pre {
  margin-bottom: 16px;
}

input.is-editable {
  direction: ltr;
  text-align: left;
}

.hljs {
  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta-string {
    color: $green;
  }
}

.btn-info {
  background-color: $green;
  border-color: darken($green, 2%);

  &:hover {
    background-color: darken($green, 2%);
    border-color: darken($green, 4%);
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($green, .5);
    background-color: darken($green, 4%);
    border-color: darken($green, 6%);
  }

  &:not([disabled]):not(.disabled):active {
    box-shadow: 0 0 0 0.2rem rgba($green, .5);
    background-color: darken($green, 6%);
    border-color: darken($green, 8%);
  }
}

[data-locale-dir="ltr"] ul.vpd-locales {
  font-family: IRANSans, sans-serif;
}
