/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

$fonts-path = '/vue-persian-datetime-picker/fonts/'

@font-face
  font-family IRANSans
  font-style normal
  font-weight bold
  font-display fallback
  src url($fonts-path + 'IRANSansWeb_Bold.eot')
  src url($fonts-path + 'IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
  url($fonts-path + 'IRANSansWeb_Bold.woff2') format('woff2'),
  url($fonts-path + 'IRANSansWeb_Bold.woff') format('woff'),
  url($fonts-path + 'IRANSansWeb_Bold.ttf') format('truetype')

@font-face
  font-family IRANSans
  font-style normal
  font-weight normal
  font-display fallback
  src url($fonts-path + 'IRANSansWeb.eot')
  src url($fonts-path + 'IRANSansWeb.eot?#iefix') format('embedded-opentype'),
  url($fonts-path + 'IRANSansWeb.woff2') format('woff2'),
  url($fonts-path + 'IRANSansWeb.woff') format('woff'),
  url($fonts-path + 'IRANSansWeb.ttf') format('truetype')

@font-face
  font-family IRANSans
  font-style normal
  font-weight 300
  font-display fallback
  src url($fonts-path + 'IRANSansWeb_Light.eot')
  src url($fonts-path + 'IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
  url($fonts-path + 'IRANSansWeb_Light.woff2') format('woff2'),
  url($fonts-path + 'IRANSansWeb_Light.woff') format('woff'),
  url($fonts-path + 'IRANSansWeb_Light.ttf') format('truetype')

.vpd-container
  font-family IRANSans, sans-serif
  font-size 13px
  button
    font-family inherit

.vpd-input-group
  input
    border-left none
    border-right solid 1px #dadada
    border-radius 0
  label svg + span
    margin-right 0 !important
    margin-left 4px
  .vpd-clear-btn
    left auto
    right 0

.vpd-main
  max-width 260px
  margin 10px 0 30px
  display inline-block

.home .hero img
  max-height 486px!important

.form-control
  border solid 1px #dadada
  background white
  line-height 30px
  padding 0 15px
  vertical-align middle
  &:disabled
    background-color #e9ecef
